.edu{
    padding: 10% 0 2%  0 ;
}
.skilrow{
    border-left:2px solid #D07C4C;
}
.skildate{
    background-color: #D07C4C;
    width: 95px;
    padding: 4px;
    /* padding: 2% 5%; */
}
.skilh3{
    font-weight: 600;
}
.skilp{
    font-size: 0.9em;
}

