/* .container-fluid{
    padding: 1% 4% 1% 4%;
} */
.Section1{
    color: #CEDBFD;
}
.header_p{
    width: 800px;
    padding-bottom: 90px;
}
.img{
    margin-left: 160px;
}

@media (max-width:1028px) {
    .header_p{
        width:270px;
    }
    .img{
        margin-left: 20px;
        margin-bottom:50px;
        margin-top: -40px;
    }
}