.section2{
    margin-top: 60px;
}
.sech3{
    color:#1E1E1E;
    margin-bottom: 10px;
}
/* .para1{
    width: 450px;
} */
.secflex1{
    border-top: 1px solid #838383;

}
.secflex{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #838383;
    margin-top: 15px;
}

.sec2img{
    width: 600px;
    height: 83%;
    object-fit: contain;
    margin-left: 60px;
}
.secwithborder{
    padding-bottom: 50px;
    border-bottom: 1px solid #838383;
}
.secrow{
    margin-top: 100px;
}
@media (max-width:1028px) {
    
    .sec2img{
        display: block;
        margin:30px 8px 5px -2px;
        width: 300px;

    }
}