/* .container-fluid{
    padding: 1% 4% 1% 4%;
} */
.Section1{
    color: #CEDBFD;
}
.header_p{
    width: 800px;
    padding-bottom: 90px;
}
.img{
    margin-left: 160px;
}

@media (max-width:1028px) {
    .header_p{
        width:290px;
    }
    .img{
        margin-left: 18%;
        /* margin: auto; */
        margin-bottom:20%;
        margin-top: -40px;
        /* width: 300px; */
        object-fit: contain;
    }
    /* .imgclass{
        justify-content: center;
        display: flex;
        text-align: center;
        align-items: center;
        margin: auto;
    } */
}